{% strip %}<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% includes bodymovin.html %}
  </head>
  <body class="{% if page.bodyclass %}{{ page.bodyclass }}{% endif %}">

    <main class="container">

        <div id="watertank" style="width:500px; height:500px; background-color: pink;"></div>

        <section class="main-content">

          {{ content }}
        </section>
        {% include pagination.html %}
        {% include footer.html %}

    </main>

    {% include github-corner.html %}
    <script>

    var animData = {
           wrapper: document.getElementById('watertank'),
           animType: 'svg',
           loop: true,
           prerender: true,
           autoplay: true,
           path: 'loading.json'
       };
       var anim = bodymovin.loadAnimation(animData);
    </script>

  </body>
</html>{% endstrip %}
