<section id="category" class="container">

<div class="category-block">
    <div class="category-css">
     <img src="http://sass-lang.com/assets/img/styleguide/seal-color-aef0354c.png" alt="">
    </div>
    <div class="category-content">
      <h3><a href="{{ "/skills" | prepend: site.baseurl }}">CSS-TRICKS</a></h3>
    </div>
</div>

<div class="category-block">
    <div class="category-photos">
     <img src="https://cdn0.iconfinder.com/data/icons/shift-logotypes/32/Instagram-256.png" alt="">
    </div>
    <div class="category-content">
      <h3><a href="{{ "/photos" | prepend: site.baseurl }}">Photos</a></h3>
    </div>
</div>

<div class="category-block">
    <div class="category-act">
     <img src="http://www.iconarchive.com/download/i83643/pelfusion/long-shadow-media/Maps-Pin-Place.ico" alt="">
    </div>
    <div class="category-content">
      <h3><a href="{{ "/mapping" | prepend: site.baseurl }}">Footprints</a></h3>
    </div>
</div>

<div class="category-block">
    <div class="category-movie">
     <img src="http://www.icon100.com/up/4237/128/35-Pop-Corn.png" alt="">
    </div>
    <div class="category-content">
      <h3><a href="{{ "/movies" | prepend: site.baseurl }}">Movies</a></h3>
    </div>
</div>

</section>
