<section id="category" class="container">

<div class="category-block">
    <div class="category-css">
     <img src="http://sass-lang.com/assets/img/styleguide/seal-color-aef0354c.png" alt="">
    </div>
    <div class="category-content">
      <h3><a href="{{ "/skills" | prepend: site.baseurl }}">CSS-TRICKS</a></h3>
    </div>
</div>

<div class="category-block">
    <div class="category-photos">
     <img src="https://cdn0.iconfinder.com/data/icons/shift-logotypes/32/Instagram-256.png" alt="">
    </div>
    <div class="category-content">
      <h3><a href="">Photos</a></h3>
    </div>
</div>

<div class="category-block">
    <div class="category-act">
     <img src="https://kryptonaive.files.wordpress.com/2015/03/edf-footprint-logo-450x450-gif-copy.gif" alt="">
    </div>
    <div class="category-content">
      <h3><a href="">Activities</a></h3>
    </div>
</div>

<div class="category-block">
    <div class="picture-frame">
     <img src="http://sass-lang.com/assets/img/styleguide/seal-color-aef0354c.png" alt="">
    </div>
    <div class="category-content">
      <h3><a href="">Movies</a></h3>
    </div>
</div>

</section>
